<section class="team-1" style="margin-top: 60px; margin-bottom: 110px">
  <div class="container">
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div
              class="d-flex flex-column align-items-center justify-content-sm-between rounded"
            >
              <div
                style="height: 500px; width: 500px; background: url('{{ '/assets/img/about/ham.png' | relative_url }}'); background-size: cover; background-repeat: no-repeat; background-position: 50% 75%; border-radius: 10px;"
              ></div>
              <span style="font-size: 22px"
                >대표<r
                  style="
                    font-size: 48px;
                    margin-top: 10px;
                    font-family: 'Nanum Brush Script', cursive;
                    margin-left: 20px;
                  "
                  >함정우</r
                ></span
              >
            </div>
          </div>

          <div class="col-md-4" style="height: 100%">
            <div class="wrapper d-flex flex-column" style="height: 100%">
              <span
                class=""
                style="
                  color: black;
                  font-size: 40px;
                  margin-top: 50px;
                  margin-bottom: 30px;
                "
                >CEO Message</span
              >
              <div
                class="lead d-flex flex-column justify-content-center"
                style="margin-top: 0px; font-size: 17px; margin-bottom: 10px"
              >
                <r
                  class="wow fadeInDown animated sbms"
                  style="color: gray; font-size: 25px; font-weight: bold"
                  >안녕하십니까?</r
                >
                <r
                  class="sbms wow fadeInDown animated"
                  style="
                    color: gray;
                    font-size: 23px;
                    font-weight: bold;
                    animation-delay: 0.3s;
                  "
                  >UDS 대표이사
                  <r class="sbms" style="color: gray">함정우</r>입니다.</r
                ><br />
                <span style="font-weight: bold"
                  >웹사이트를 통해 이렇게 만나게 되어</span
                >
                <span style="font-weight: bold">무척 반갑습니다.</span>
                <br />
                <div class="sbms">
                    <div style="margin-bottom: 10px;">UDS는 제조 기업의 업무 효율성 향상을 위해 SW 및 시스템을 개발하고 있습니다.</div>
                    <div style="margin-bottom: 10px;">UDS가 제공하는 혁신 플랫폼과 솔루션은 4차산업혁명 시대에 기업 운영의 Digital Transformation을 가능하게 합니다.</div>
                    <div>UDS는 BOM, PLM 등 기업용 시스템과 첨단 장비의 성능 극대화를 위한 솔루션(Data Platform과 AI 솔루션) 분야를 선도하고 있습니다.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
