<nav class="col-md-12">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a
        class="nav-item nav-link active"
        id="nav-home-tab"
        data-toggle="tab"
        href="#nav-home"
        role="tab"
        aria-controls="nav-home"
        aria-selected="true"
        style="font-size: 20px"
        >MKT</a
      >
      <a
        class="nav-item nav-link"
        id="nav-profile-tab"
        data-toggle="tab"
        href="#nav-profile"
        role="tab"
        aria-controls="nav-profile"
        aria-selected="false"
        style="font-size: 20px"
        >QMS</a
      >
      <a
        class="nav-item nav-link"
        id="nav-contact-tab"
        data-toggle="tab"
        href="#nav-contact"
        role="tab"
        aria-controls="nav-contact"
        aria-selected="false"
        style="font-size: 20px"
        >DP</a
      >
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div
      class="tab-pane fade show active"
      id="nav-home"
      role="tabpanel"
      aria-labelledby="nav-home-tab"
    >
      <div class="row" style="margin-top: 60px">
        <div class="col-md-8 mx-auto text-center mb-3">
          <h3 class="display-3 here1">MKT Position</h3>
          <span style="font-size: 20px"
            >PLM/SBMS(BOM 시스템) 운영 & 컨설팅</span
          >
        </div>
      </div>
      <div class="row" style="margin-bottom: 60px">
        <div class="col-lg-5 col-md-5 mx-auto">
          <div class="card card-profile" data-background="full">
            <a href="javascript:;">
              <img
                class="img img-raised rounded"
                src="{{ '/assets/img/about/mkt.png' | relative_url }}"
              />
            </a>
            <div class="card-image">
              <div class="dropdown">
                <button
                  type="button"
                  class="btn btn-link dropdown-toggle btn-icon-only"
                  data-toggle="dropdown"
                  aria-expanded="false"
                >
                  <i class="ni ni-settings-gear-65"></i>
                </button>
              </div>
            </div>
            <a
              href="http://www.saramin.co.kr/zf_user/jobs/relay/view?isMypage=no&rec_idx=38825465&recommend_ids=eJxtkMkNAzEMA6vJ36Iu6p1Ctv8uYiTelRH4ORqBMq0sKl0vL3%2FlWyeOwjjgZb9BFKTaGwt5pcUfrvWsgPrjG%2B84DpnZ27mFt89RRPsEigdc68wM1nOu8Y7zFNnKehhP%2BJQNsb6eOstZp1PnZNqFAK2xMLuiraoh2rpT0P%2FmDM%2FtIZTx%2FeQPjjFclQ%3D%3D&view_type=search&searchword=%EC%9C%A0%EB%94%94%EC%97%90%EC%8A%A4&searchType=search&gz=1&t_ref_content=generic&t_ref=search&paid_fl=n#seq=0"
              target="_blank"
            >
              <div class="card-body">
                <h4 class="display-4">SBMS(BOM시스템)</h4>
                <p class="lead mt-0 mb-1">공고 보기</p>
                <div class="table-responsive">
                  <table class="table tablesorter" id="plain-table">
                    <tbody>
                      <tr>
                        <td class="text-left pl-0">
                          <div class="badge badge-circle badge-info mr-2">
                            <i class="ni ni-hat-3"></i>
                          </div>
                          학력
                        </td>
                        <td class="text-right">대졸 이상(4년)</td>
                      </tr>
                      <tr>
                        <td class="text-left pl-0">
                          <div class="badge badge-circle badge-info mr-2">
                            <i class="ni ni-satisfied"></i>
                          </div>
                          우대사항
                        </td>
                        <td class="text-right">개발 경험, 아키텍쳐 가능자</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-5 col-md-5 mx-auto">
          <div class="card card-profile" data-background="full">
            <a href="javascript:;">
              <img
                class="img img-raised rounded"
                src="{{ '/assets/img/about/mkt.png' | relative_url }}"
              />
            </a>
            <div class="card-image">
              <div class="dropdown">
                <button
                  type="button"
                  class="btn btn-link dropdown-toggle btn-icon-only"
                  data-toggle="dropdown"
                  aria-expanded="false"
                >
                  <i class="ni ni-settings-gear-65"></i>
                </button>
              </div>
            </div>
            <a
              href="http://www.saramin.co.kr/zf_user/jobs/relay/view?isMypage=no&rec_idx=38825465&recommend_ids=eJxtkMkNAzEMA6vJ36Iu6p1Ctv8uYiTelRH4ORqBMq0sKl0vL3%2FlWyeOwjjgZb9BFKTaGwt5pcUfrvWsgPrjG%2B84DpnZ27mFt89RRPsEigdc68wM1nOu8Y7zFNnKehhP%2BJQNsb6eOstZp1PnZNqFAK2xMLuiraoh2rpT0P%2FmDM%2FtIZTx%2FeQPjjFclQ%3D%3D&view_type=search&searchword=%EC%9C%A0%EB%94%94%EC%97%90%EC%8A%A4&searchType=search&gz=1&t_ref_content=generic&t_ref=search&paid_fl=n#seq=0"
              target="_blank"
            >
              <div class="card-body">
                <h4 class="display-4">Windchill PLM</h4>
                <p class="lead mt-0 mb-1">공고 보기</p>
                <div class="table-responsive">
                  <table class="table tablesorter" id="plain-table">
                    <tbody>
                      <tr>
                        <td class="text-left pl-0">
                          <div class="badge badge-circle badge-info mr-2">
                            <i class="ni ni-hat-3"></i>
                          </div>
                          학력
                        </td>
                        <td class="text-right">대졸 이상(4년)</td>
                      </tr>
                      <tr>
                        <td class="text-left pl-0">
                          <div class="badge badge-circle badge-info mr-2">
                            <i class="ni ni-satisfied"></i>
                          </div>
                          우대사항
                        </td>
                        <td class="text-right">개발 경험, 아키텍쳐 가능자</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="nav-profile"
      role="tabpanel"
      aria-labelledby="nav-profile-tab"
    >
      <div class="row" style="margin-top: 60px">
        <div class="col-md-8 mx-auto text-center mb-3">
          <h3 class="display-3 here2">QMS Position</h3>
          <span style="font-size: 20px"
            >파트너사, 고객사의 제조 S/W 사양 및 품질 관리</span
          >
        </div>
      </div>
      <div class="row" style="margin-bottom: 60px">
        <div class="col-lg-5 col-md-5 mx-auto">
          <div class="card card-profile" data-background="full">
            <a href="javascript:;">
              <img
                class="img img-raised rounded"
                src="{{ '/assets/img/about/qms.png' | relative_url }}"
              />
            </a>
            <div class="card-image">
              <div class="dropdown">
                <button
                  type="button"
                  class="btn btn-link dropdown-toggle btn-icon-only"
                  data-toggle="dropdown"
                  aria-expanded="false"
                >
                  <i class="ni ni-settings-gear-65"></i>
                </button>
              </div>
            </div>
            <a
              href="http://www.saramin.co.kr/zf_user/jobs/relay/view?isMypage=no&rec_idx=38808065&recommend_ids=eJxNkMsNA0EMQqvJffAHm3MKmf67SJTNruf4DMgCbylXaKfyVW8%2FcMf%2FAI916DfeepuJO4kLaeGxKV4YmbRB64XeXPbDQpOYrLPkj6os5JhVIDhZ81WDaiLG3EVYjqok8ynREPJ49LVDk8V3g6ORIhAzQIBxZL2YsSv4ATR5SIk%3D&view_type=search&searchword=%EC%9C%A0%EB%94%94%EC%97%90%EC%8A%A4&searchType=search&gz=1&t_ref_content=generic&t_ref=search&paid_fl=n#seq=0"
              target="_blank"
            >
              <div class="card-body">
                <h4 class="display-4">품질 관리</h4>
                <p class="lead mt-0 mb-1">공고 보기</p>
                <div class="table-responsive">
                  <table class="table tablesorter" id="plain-table">
                    <tbody>
                      <tr>
                        <td class="text-left pl-0">
                          <div class="badge badge-circle badge-info mr-2">
                            <i class="ni ni-hat-3"></i>
                          </div>
                          학력
                        </td>
                        <td class="text-right">대졸 이상(4년)</td>
                      </tr>
                      <tr>
                        <td class="text-left pl-0">
                          <div class="badge badge-circle badge-info mr-2">
                            <i class="ni ni-satisfied"></i>
                          </div>
                          우대사항
                        </td>
                        <td class="text-right">
                          공학 계열, 산업공학, 전기/전자공학
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="nav-contact"
      role="tabpanel"
      aria-labelledby="nav-contact-tab"
    >
      <div class="row" style="margin-top: 60px">
        <div class="col-md-8 mx-auto text-center mb-3">
          <h3 class="display-3 here3">DP Position</h3>
          <span style="font-size: 20px">데이터 플랫폼 개발</span>
        </div>
      </div>
      <div class="row" style="margin-bottom: 60px">
        <div class="col-lg-5 col-md-5 mx-auto">
          <div class="card card-profile" data-background="full">
            <a href="javascript:;">
              <img
                class="img img-raised rounded"
                src="{{ '/assets/img/about/dp.png' | relative_url }}"
              />
            </a>
            <div class="card-image">
              <div class="dropdown">
                <button
                  type="button"
                  class="btn btn-link dropdown-toggle btn-icon-only"
                  data-toggle="dropdown"
                  aria-expanded="false"
                >
                  <i class="ni ni-settings-gear-65"></i>
                </button>
              </div>
            </div>
            <a
              href="http://www.saramin.co.kr/zf_user/jobs/view?rec_idx=38855514&view_type=etc"
              target="_blank"
            >
              <div class="card-body">
                <h4 class="display-4">데이터 시각화 웹 개발</h4>
                <p class="lead mt-0 mb-1">공고 보기</p>
                <div class="table-responsive">
                  <table class="table tablesorter" id="plain-table">
                    <tbody>
                      <tr>
                        <td class="text-left pl-0">
                          <div class="badge badge-circle badge-info mr-2">
                            <i class="ni ni-hat-3"></i>
                          </div>
                          학력
                        </td>
                        <td class="text-right">대졸 이상(4년)</td>
                      </tr>
                      <tr>
                        <td class="text-left pl-0">
                          <div class="badge badge-circle badge-info mr-2">
                            <i class="ni ni-satisfied"></i>
                          </div>
                          우대사항
                        </td>
                        <td class="text-right">
                          Full Stack, API 경험, JS Famework
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-5 col-md-5 mx-auto">
          <div class="card card-profile" data-background="full">
            <a href="javascript:;">
              <img
                class="img img-raised rounded"
                src="{{ '/assets/img/about/dp.png' | relative_url }}"
              />
            </a>

            <a
              href="http://www.saramin.co.kr/zf_user/jobs/view?rec_idx=38855514&view_type=etc"
              target="_blank"
            >
              <div class="card-body">
                <h4 class="display-4">데이터 수집 App. 개발</h4>
                <p class="lead mt-0 mb-1">공고 보기</p>
                <div class="table-responsive">
                  <table class="table tablesorter" id="plain-table">
                    <tbody>
                      <tr>
                        <td class="text-left pl-0">
                          <div class="badge badge-circle badge-info mr-2">
                            <i class="ni ni-hat-3"></i>
                          </div>
                          학력
                        </td>
                        <td class="text-right">대졸 이상(4년)</td>
                      </tr>
                      <tr>
                        <td class="text-left pl-0">
                          <div class="badge badge-circle badge-info mr-2">
                            <i class="ni ni-satisfied"></i>
                          </div>
                          우대사항
                        </td>
                        <td class="text-right">
                          Window/Linux 개발 경험, C/C#, SQL
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-5 mx-auto">
        <div class="card card-profile" data-background="full">
          <a href="javascript:;">
            <img
              class="img img-raised rounded"
              src="{{ '/assets/img/about/dp.png' | relative_url }}"
            />
          </a>
          <div class="card-image">
            <div class="dropdown">
              <button
                type="button"
                class="btn btn-link dropdown-toggle btn-icon-only"
                data-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="ni ni-settings-gear-65"></i>
              </button>
            </div>
          </div>
          <a
            href="http://www.saramin.co.kr/zf_user/jobs/view?rec_idx=38855514&view_type=etc"
            target="_blank"
          >
            <div class="card-body">
              <h4 class="display-4">데이터 분석 및 API 개발</h4>
              <p class="lead mt-0 mb-1">공고 보기</p>
              <div class="table-responsive">
                <table class="table tablesorter" id="plain-table">
                  <tbody>
                    <tr>
                      <td class="text-left pl-0">
                        <div class="badge badge-circle badge-info mr-2">
                          <i class="ni ni-hat-3"></i>
                        </div>
                        학력
                      </td>
                      <td class="text-right">대졸 이상(4년)</td>
                    </tr>
                    <tr>
                      <td class="text-left pl-0">
                        <div class="badge badge-circle badge-info mr-2">
                          <i class="ni ni-satisfied"></i>
                        </div>
                        우대사항
                      </td>
                      <td class="text-right">API 개발, 석사, ML/DL</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>