<div class="container text-center">
  <h3 class="display-3" style="">UDS 인재상</h3>
  <span style="margin-bottom: 20px"></span>
</div>

<div class="team-3" style="margin-top: 60px">
  <div class="container">
    <div class="row">
      <div class="col-md-4 wow animated flipInX">
        <div
          class="card card-pricing bg-gradient-info border-0 text-center mb-4"
          style="height: 80%"
        >
          <div class="card-header bg-transparent">
            <h6 class="ls-1 text-white py-3 mb-0" style="font-size: 30px">
              Global Talent
            </h6>
          </div>
          <div class="card-body">
            <span
              class="text-white"
              style="font-size: 18px; font-weight: normal"
              >열린 사고와 개방성으로 다양한 문화와 기술을 적극적으로 수용하고
              발전시키는 글로벌 경쟁력을 갖춘 인재</span
            >
          </div>
        </div>
      </div>
      <div class="col-md-4 wow animated flipInX" style="animation-delay: 0.2s">
        <div
          class="card card-pricing bg-gradient-warning border-0 text-center mb-4"
          style="height: 80%"
        >
          <div class="card-header bg-transparent">
            <h6 class="ls-1 text-white py-3 mb-0" style="font-size: 30px">
              Specialist
            </h6>
          </div>
          <div class="card-body">
            <span
              class="text-white"
              style="font-size: 18px; font-weight: normal"
              >도전적 성취목표, 열정으로 지속적인 자기개발을 통해 역량을
              개발하고, 세계 무대에 나가 실력을 발휘하는 인재</span
            >
          </div>
        </div>
      </div>
      <div class="col-md-4 wow animated flipInX" style="animation-delay: 0.4s">
        <div
          class="card card-pricing bg-gradient-success border-0 text-center mb-4"
          style="height: 80%"
        >
          <div class="card-header bg-transparent">
            <h6 class="ls-1 text-white py-3 mb-0" style="font-size: 30px">
              Creative Talent
            </h6>
          </div>
          <div class="card-body">
            <span
              class="text-white"
              style="font-size: 18px; font-weight: normal"
              >꾸준한 학습과 연구, 아이디어 및 신기술에 대한 열린 시각으로
              혁신을 능동적으로 주도하고, 미래를 선도하는 인재</span
            >
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center" style="width: 100%">
      <a
        href="https://www.saramin.co.kr/zf_user/jobs/relay/view?isMypage=no&rec_idx=39772529&recommend_ids=eJxdkMkRwzAMA6vJnxd4vFOI%2Bu8izNgyNX6uCBCgtKIYYguFT3z1wGXXQ1IiVpjfyCk1aATO5SQv3O4oSI78wT3nTuw45xc%2B%2FlA94iqpy0zZjbe8q5Py8rrkiEC7NwbAMmW9lxcflyHJBxXEOpc5Qrij9tTR4mcq5WzHN5SkzCrAxI9ch9Eff0zcVD0%3D&view_type=search&searchword=%EC%9C%A0%EB%94%94%EC%97%90%EC%8A%A4&searchType=search&gz=1&t_ref_content=generic&t_ref=search&paid_fl=n#seq=0"
        target="_blank"
      >
        <img
          class="img rounded"
          src="{{ '/assets/img/about/recruit.png' | relative_url }}"
        />
      </a>
    </div>
  </div>
</div>
