<div class="section features features-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto text-center">
        <h3 class="display-3">도입효과</h3>
        <span
          >수작업으로 진행되는 업무를 자동화하는 과정을 통해 낭비를
          최소화하고<br />
          부서간 데이터의 정합성을 유지하여 효율적인 BOM 관리를 이룹니다.</span
        >
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-12 mt-md-5">
        <div class="row">
          <div class="col-md-6">
            <div class="info">
              <div class="pr-md-5">
                <div
                  style="
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 10px;
                  "
                >
                  <div
                    style="
                      background-color: #c4cbf5;
                      border-radius: 100%;
                      padding: 15px;
                      color: #2643e9;
                      width: 50px;
                      height: 50px;
                    "
                  >
                    <i class="ni ni-delivery-fast"></i>
                  </div>
                  <h5 class="display-5">설계 Lead Time 최소화</h5>
                </div>

                <ul
                  class="list-unstyled"
                  style="position: relative; left: 90px"
                >
                  <li>
                    <div
                      class="d-flex align-items-center animated fadeInUp wow"
                    >
                      <div>
                        <div class="mr-3">
                          <i class="ni ni-check-bold"></i>
                        </div>
                      </div>
                      <div>
                        <p class="mb-0">
                          설계 시간 52일 <i class="ni ni-bold-right"></i> 32일
                        </p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div
                      class="d-flex align-items-center animated fadeInUp wow"
                      style="animation-delay: 0.3s"
                    >
                      <div>
                        <div class="mr-3">
                          <i class="ni ni-check-bold"></i>
                        </div>
                      </div>
                      <div>
                        <p class="mb-0">
                          설계 변경 시간 7일
                          <i class="ni ni-bold-right"></i> 2일
                        </p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div
                      class="d-flex align-items-center animated fadeInUp wow"
                      style="animation-delay: 0.6s"
                    >
                      <div>
                        <div class="mr-3">
                          <i class="ni ni-check-bold"></i>
                        </div>
                      </div>
                      <div>
                        <p class="mb-0">
                          설계 누락 다수 <i class="ni ni-bold-right"></i> 직관적
                          표현
                        </p>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info">
              <div class="pr-md-5">
                <div
                  style="
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 10px;
                  "
                >
                  <div
                    style="
                      background-color: #c4cbf5;
                      border-radius: 100%;
                      padding: 15px;
                      color: #2643e9;
                      width: 50px;
                      height: 50px;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                    "
                  >
                    <svg
                      width="1em"
                      height="1em"
                      viewBox="0 0 16 16"
                      class="bi bi-gear-wide-connected"
                      fill="currentColor"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M8.932.727c-.243-.97-1.62-.97-1.864 0l-.071.286a.96.96 0 0 1-1.622.434l-.205-.211c-.695-.719-1.888-.03-1.613.931l.08.284a.96.96 0 0 1-1.186 1.187l-.284-.081c-.96-.275-1.65.918-.931 1.613l.211.205a.96.96 0 0 1-.434 1.622l-.286.071c-.97.243-.97 1.62 0 1.864l.286.071a.96.96 0 0 1 .434 1.622l-.211.205c-.719.695-.03 1.888.931 1.613l.284-.08a.96.96 0 0 1 1.187 1.187l-.081.283c-.275.96.918 1.65 1.613.931l.205-.211a.96.96 0 0 1 1.622.434l.071.286c.243.97 1.62.97 1.864 0l.071-.286a.96.96 0 0 1 1.622-.434l.205.211c.695.719 1.888.03 1.613-.931l-.08-.284a.96.96 0 0 1 1.187-1.187l.283.081c.96.275 1.65-.918.931-1.613l-.211-.205a.96.96 0 0 1 .434-1.622l.286-.071c.97-.243.97-1.62 0-1.864l-.286-.071a.96.96 0 0 1-.434-1.622l.211-.205c.719-.695.03-1.888-.931-1.613l-.284.08a.96.96 0 0 1-1.187-1.186l.081-.284c.275-.96-.918-1.65-1.613-.931l-.205.211a.96.96 0 0 1-1.622-.434L8.932.727zM8 12.997a4.998 4.998 0 1 0 0-9.995 4.998 4.998 0 0 0 0 9.996z"
                      />
                      <path
                        fill-rule="evenodd"
                        d="M7.375 8L4.602 4.302l.8-.6L8.25 7.5h4.748v1H8.25L5.4 12.298l-.8-.6L7.376 8z"
                      />
                    </svg>
                  </div>
                  <h5 class="display-5">BOM 정합성, 최신성 유지</h5>
                </div>

                <ul
                  class="list-unstyled"
                  style="position: relative; left: 70px"
                >
                  <li>
                    <div
                      class="d-flex align-items-center animated fadeInUp wow"
                    >
                      <div>
                        <div class="mr-3">
                          <i class="ni ni-check-bold"></i>
                        </div>
                      </div>
                      <div>
                        <p class="mb-0">
                          BOM 작성 7일 <i class="ni ni-bold-right"></i> 2일
                        </p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div
                      class="d-flex align-items-center animated fadeInUp wow"
                      style="animation-delay: 0.3s"
                    >
                      <div>
                        <div class="mr-3">
                          <i class="ni ni-check-bold"></i>
                        </div>
                      </div>
                      <div>
                        <p class="mb-0">
                          BOM 정합성 90% 이상 향상
                          <i class="ni ni-bold-right"></i> 2일
                        </p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div
                      class="d-flex align-items-center animated fadeInUp wow"
                      style="animation-delay: 0.6s"
                    >
                      <div>
                        <div class="mr-3">
                          <i class="ni ni-check-bold"></i>
                        </div>
                      </div>
                      <div>
                        <p class="mb-0">도면 누락 63% 축소 표현</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div
                      class="d-flex align-items-center animated fadeInUp wow"
                      style="animation-delay: 0.9s"
                    >
                      <div>
                        <div class="mr-3">
                          <i class="ni ni-check-bold"></i>
                        </div>
                      </div>
                      <div>
                        <p class="mb-0">제품 설계 품질 90% 이상 향상</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div
                      class="d-flex align-items-center animated fadeInUp wow"
                      style="animation-delay: 1.2s"
                    >
                      <div>
                        <div class="mr-3">
                          <i class="ni ni-check-bold"></i>
                        </div>
                      </div>
                      <div>
                        <p class="mb-0">변경요청 누락 Zero 化 달성</p>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-md-6">
            <div class="info">
              <div class="pr-md-5">
                <div
                  style="
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 10px;
                  "
                >
                  <div
                    style="
                      background-color: #c4cbf5;
                      border-radius: 100%;
                      padding: 15px;
                      color: #2643e9;
                      width: 50px;
                      height: 50px;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                    "
                  >
                    <i class="ni ni-single-copy-04"></i>
                  </div>
                  <h5 class="display-5">최신 도면 Real-time 공유</h5>
                </div>

                <ul
                  class="list-unstyled"
                  style="position: relative; left: 90px"
                >
                  <li>
                    <div
                      class="d-flex align-items-center animated fadeInUp wow"
                    >
                      <div>
                        <div class="mr-3">
                          <i class="ni ni-check-bold"></i>
                        </div>
                      </div>
                      <div>
                        <p class="mb-0">
                          정보 공유 11일 <i class="ni ni-bold-right"></i> 5일
                        </p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div
                      class="d-flex align-items-center animated fadeInUp wow"
                      style="animation-delay: 0.3s"
                    >
                      <div>
                        <div class="mr-3">
                          <i class="ni ni-check-bold"></i>
                        </div>
                      </div>
                      <div>
                        <p class="mb-0">
                          정보 배포 7일 <i class="ni ni-bold-right"></i> 0.5일
                        </p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div
                      class="d-flex align-items-center animated fadeInUp wow"
                      style="animation-delay: 0.6s"
                    >
                      <div>
                        <div class="mr-3">
                          <i class="ni ni-check-bold"></i>
                        </div>
                      </div>
                      <div>
                        <p class="mb-0">
                          정보 조회 1일 <i class="ni ni-bold-right"></i> 0.5일
                        </p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div
                      class="d-flex align-items-center animated fadeInUp wow"
                      style="animation-delay: 0.9s"
                    >
                      <div>
                        <div class="mr-3">
                          <i class="ni ni-check-bold"></i>
                        </div>
                      </div>
                      <div>
                        <p class="mb-0">전장도면 3D 化 진행 가능</p>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info">
              <div class="pr-md-5">
                <div
                  style="
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 10px;
                  "
                >
                  <div
                    style="
                      background-color: #c4cbf5;
                      border-radius: 100%;
                      padding: 15px;
                      color: #2643e9;
                      width: 50px;
                      height: 50px;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                    "
                  >
                    <i class="ni ni-single-copy-04"></i>
                  </div>
                  <h5 class="display-5">BOM 오류 Zero - 化 달성</h5>
                </div>

                <ul
                  class="list-unstyled"
                  style="position: relative; left: 70px"
                >
                  <li>
                    <div
                      class="d-flex align-items-center animated fadeInUp wow"
                    >
                      <div>
                        <div class="mr-3">
                          <i class="ni ni-check-bold"></i>
                        </div>
                      </div>
                      <div>
                        <p class="mb-0">
                          M-BOM 변환 6일 <i class="ni ni-bold-right"></i> 1.5일
                        </p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div
                      class="d-flex align-items-center animated fadeInUp wow"
                      style="animation-delay: 0.3s"
                    >
                      <div>
                        <div class="mr-3">
                          <i class="ni ni-check-bold"></i>
                        </div>
                      </div>
                      <div>
                        <p class="mb-0">
                          설계 검증 19일 <i class="ni ni-bold-right"></i> 3일
                        </p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div
                      class="d-flex align-items-center animated fadeInUp wow"
                      style="animation-delay: 0.6s"
                    >
                      <div>
                        <div class="mr-3">
                          <i class="ni ni-check-bold"></i>
                        </div>
                      </div>
                      <div>
                        <p class="mb-0">ECM 통제능력 향상</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div
                      class="d-flex align-items-center animated fadeInUp wow"
                      style="animation-delay: 0.9s"
                    >
                      <div>
                        <div class="mr-3">
                          <i class="ni ni-check-bold"></i>
                        </div>
                      </div>
                      <div>
                        <p class="mb-0">E.P.I 관리능력 향상</p>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
