<div class="section features-1 my-5 fullwidith">
  <div class="container" style="width: 100%; max-width: none">
    <div class="row d-flex">
      <div class="col-md-8 mx-auto text-center">
        <h3 class="display-3">이제 SBMS로 관리하세요.</h3>
        <span
          >SBMS (Specification & BOM Management System)<br />
          혁신적인 사양 및 BOM 관리를 제시합니다.
        </span>
      </div>
    </div>
    <div class="row mb-3" style="margin-top: 60px">
      <div class="col-xl-7 mr-3">
        <img
          src="{{ '/assets/img/sbms/scope.png' | relative_url }}"
          style="box-shadow: none"
        />
      </div>
      <div class="col-xl-3">
        <button
          class="btn btn-default"
          style="width: 200px"
          type="button"
          data-toggle="collapse"
          data-target="#collapseExample1"
          aria-expanded="false"
          aria-controls="collapseExample1"
        >
          SBMS Scope
        </button>
        <div class="collapse" id="collapseExample1">
          <div class="card card-body">
            제품 및 부품사양 관리, 목적 별 BOM 구성을 통하여 기업의 기준정보를
            관리하고 PLM, ERP 등 타 시스템과의 연계를 통하여 Single Platform
            구축이 가능케 합니다.
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-xl-7 mr-3">
        <img
          src="{{ '/assets/img/sbms/architecture.png' | relative_url }}"
          style="box-shadow: none"
        />
      </div>
      <div class="col-xl-3">
        <button
          class="btn btn-default"
          style="width: 200px"
          type="button"
          data-toggle="collapse"
          data-target="#collapseExample2"
          aria-expanded="false"
          aria-controls="collapseExample2"
        >
          SBMS Structure
        </button>
        <div class="collapse" id="collapseExample2">
          <div class="card card-body">
            Mass Customization 산업에 대응이 가능 한 BOM 관리 기능을 지원하며 각
            단계별 정보를 고객사, 조립업체, 파트너사와 공유하여 Data의 일관성,
            정합성, 투명성을 확보합니다.
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-xl-7 mr-3">
        <img
          src="{{ '/assets/img/sbms/process.png' | relative_url }}"
          style="height: 320px; box-shadow: none"
        />
      </div>
      <div class="col-xl-3">
        <button
          class="btn btn-default"
          style="width: 200px"
          type="button"
          data-toggle="collapse"
          data-target="#collapseExample3"
          aria-expanded="false"
          aria-controls="collapseExample3"
        >
          SBMS Process
        </button>
        <div class="collapse" id="collapseExample3">
          <div class="card card-body">
            상품기획부문의 제품사양서에 준해 설계는 기능설계 및 부품사양서를
            작성하고, 이를 근간으로 Sales Order 및 생산부문이 대응할 수 있는
            일관된 사양/BOM Process 체계
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
