
<div class="section features-1 fullwidith sbms">
  <div class="container" style="width: 100%;">
    <div class="row">
      <div class="col-md-8 mx-auto text-center">
        <h3 class="display-3">BOM 관리의 어려움</h3>
        <span>UDS는 다년간 축적한 구축 경험에 기반하여 아래의 BOM(자재 명세서)<br> 관련 문제들을 해결할 수 있습니다.</span>
      </div>
    </div>

    <div class="row" style="margin-top: 60px;">
      <div class="col-md-6">
        <div class="info wow animated fadeInLeft" style="box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;">
          <div class="icon icon-lg icon-shape icon-shape-primary shadow rounded-circle">
            <i class="ni ni-check-bold"></i>
          </div>
          <h6 class="info-title text-uppercase text-primary">사양관리</h6>
          <p class="description opacity-9">체계적인 기준정보 및 사양관리 업무 부재</p>
          <button type="button" class="btn btn-primary mb-3 wow animated fadeInLeft" data-toggle="modal" data-target=".bd-example-modal-xl-a">More about</button>
        </div>
        <!-- Button trigger modal -->


        <div class="modal fade bd-example-modal-xl-a" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalScrollableTitle">사양 관리의 어려움</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <img src="{{ '/assets/img/sbms/painone.png' | relative_url }}" alt="" style="width: 100%;">
              <br/><br/>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="info wow animated fadeInRight" style="animation-delay: 0.8s; box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;">
          <div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle">
            <i class="ni ni-money-coins"></i>
          </div>
          <h6 class="info-title text-uppercase text-success">설계 Data 관리</h6>
          <p class="description opacity-9">BOM 정합 불일치 및 Routing, 물류 개선의 어려움</p>
          <button type="button" class="btn btn-primary mb-3 wow animated fadeInRight" data-toggle="modal" data-target=".bd-example-modal-xl-b" style="animation-delay: 0.8s;">More about</button>
        </div>
        

        <div class="modal fade bd-example-modal-xl-b" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalScrollableTitle">설계 Data 관리의 어려움</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <img src="{{ '/assets/img/sbms/paintwo.png' | relative_url }}" alt="" style="width: 100%;"> 
              <br> 
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="info wow animated fadeInLeft" style="animation-delay: 0.5s; box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;">
          <div class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle">
            <i class="ni ni-collection"></i>
          </div>
          <h6 class="info-title text-uppercase text-warning">설계 변경 관리</h6>
          <p class="description opacity-9">설계변경 이력 및 추적 관리의 어려움</p>
          <button type="button" class="btn btn-primary mb-3 wow animated fadeInLeft" data-toggle="modal" data-target=".bd-example-modal-xl-c" style="animation-delay: 0.5s;">More about</button>
        </div>


        <div class="modal fade bd-example-modal-xl-c" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalScrollableTitle">설계 변경 관리의 어려움</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <img src="{{ '/assets/img/sbms/painthree.png' | relative_url }}" alt="" style="width: 100%;">
              <br>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="info wow animated fadeInRight" style="animation-delay: 1.1s; box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;">
          <div class="icon icon-lg icon-shape icon-shape-info shadow rounded-circle">
            <i class="ni ni-folder-17"></i>
          </div>
          <h6 class="info-title text-uppercase text-info">BOM 관리</h6>
          <p class="description opacity-9">요구사항 변경 발생 시 실시간 BOM 업데이트 대응력의 약세</p>
          <button type="button" class="btn btn-primary mb-3 wow animated fadeInRight" data-toggle="modal" data-target=".bd-example-modal-xl-d" style="animation-delay: 1.1s;">More about</button>
        </div>


        <div class="modal fade bd-example-modal-xl-d" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalScrollableTitle">BOM 관리의 어려움</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <img src="{{ '/assets/img/sbms/painfour.png' | relative_url }}" alt="" style="width: 100%;">
              <img src="{{ '/assets/img/sbms/painfive.png' | relative_url }}" alt="" style="width: 100%;">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </div>
          </div>
        </div>
      </div>
      
      
    </div>
  </div>
</div>

