<footer class="footer mt-5 pt-4">
    <div class="container">
      <div class="row row-grid align-items-center mb-2 mt-2">
        <div class="col-lg-6">
          <h4 class="mb-0 font-weight-light">{{ site.data.settings.footer_settings.footer_tagline }}</h4>
        </div>
        <div class="col-lg-6 text-lg-right">
          {% include socials.html %}
        </div>
      </div>
      <hr>
      <div>대표이사: 함정우 | 사업자등록번호: 474-87-01012 | (우:13449) 경기도 성남시 수정구 창업로 42 317호</div>
      <div class="row align-items-center justify-content-md-between">
        <div class="col-md-6">
          <div class="copyright">
            <span> © {{ 'now' | date: "%Y" }} Designed by UDS Sean</span>
          </div>
        </div>
        <div class="col-md-6">
          <ul class="nav nav-footer justify-content-end">
            {% for item in site.data.settings.menu_settings.menu_items %}
            {% if item.submenu_items %}
  
            {% else %}
            <li class="nav-item">
              <a href="{{ item.url | relative_url }}" class="nav-link">
                <span class="nav-link-inner--text">{{ item.title }}</span>
              </a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </footer>
  
  
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.1/css/mdb.min.css" rel="stylesheet">
  <script>
      console.log("HIE")
      var isIE11 = !!navigator.userAgent.match(/Trident.*rv\:11\./);
      (function redirectIE () {
          if (location.href != 'https://uds.ai/browser' && isIE11){
              location.href = 'https://uds.ai/browser'
          }
      })()
  </script>
  <script src="{{ "/assets/js/core/jquery.min.js" | relative_url }}" type="text/javascript"></script>
  <script src="{{ "/assets/js/core/popper.min.js" | relative_url }}" type="text/javascript"></script>
  <script src="{{ "/assets/js/core/bootstrap.min.js" | relative_url }}" type="text/javascript"></script>
  <script src="{{ "/assets/js/plugins/perfect-scrollbar.jquery.min.js" | relative_url }}"></script>
  <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
  <script src="{{ "/assets/js/plugins/bootstrap-switch.js" | relative_url }}"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="{{ "/assets/js/plugins/nouislider.min.js" | relative_url }}" type="text/javascript"></script>
  <!--  Plugin for the Carousel, full documentation here: http://jedrzejchalubek.com/ -->
  <script src="{{ "/assets/js/plugins/glide.js"" | relative_url }}" type="text/javascript"></script>
  <!--  Plugin for the DatePicker, full documentation here: https://flatpickr.js.org/ -->
  <script src="{{ "/assets/js/plugins/moment.min.js" | relative_url }}"></script>
  <!--	Plugin for Select, full documentation here: https://joshuajohnson.co.uk/Choices/ -->
  <script src="{{ "/assets/js/plugins/choices.min.js" | relative_url }}" type="text/javascript"></script>
  <!--  Plugin for the DateTimePicker, full documentation here: https://flatpickr.js.org/ -->
  <script src="{{ "/assets/js/plugins/datetimepicker.js"" | relative_url }}" type="text/javascript"></script>
  <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
  <script src="{{ "/assets/js/plugins/jasny-bootstrap.min.js"" | relative_url }}"></script>
  <!-- Plugin for Headrom, full documentation here: https://wicky.nillia.ms/headroom.js/ -->
  <script src="{{ "/assets/js/plugins/headroom.min.js" | relative_url }}"></script>
  <!-- Plugin for Headrom, full documentation here: https://wicky.nillia.ms/headroom.js/ -->
  <script>
    // Blog Post Carousel
    if (document.querySelector('.blogGlide') !== null) {
      new Glide('.blogGlide', {
        type: 'carousel',
        startAt: 0,
        focusAt: 2,
        perTouch: 1,
        perView: 4
      }).mount();
    }
  
    if (document.querySelector('.glide') !== null) {
      // Generic
       new Glide('.glide', {
        type: 'carousel',
        startAt: 0,
        focusAt: 2,
        perTouch: 1,
        perView: 4
      }).mount();
    }
  
    if (document.querySelector('.testimonial-glide') !== null) {
      // Testimonial Carousel
      new Glide('.testimonial-glide', {
        type: 'carousel',
        startAt: 0,
        focusAt: 2,
        perTouch: 1,
        perView: 4
      }).mount();
    }
  
  </script>
  <script>
    $(function () {
      var navOffset = $('#navbar-main').height();
      $('.contentWrapper').css('padding-top', navOffset * 2 + 'px');
    });    
  </script>
  <script src="{{ "/assets/js/argon-design-system.min.js?v=1.0.0" | relative_url }}" type="text/javascript"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.1/js/mdb.min.js"></script>
  <script>
      $( document ).ready(function() {
      new WOW().init();
    });
  
    const menu = document.querySelector(".goMenu");
    menu.addEventListener("click", function() {
      window.scroll({
        top: 0,
        behavior: 'smooth'
      })
    });
  
  </script>
  <script>
      const button = document.querySelector("#submit");
      const ID = document.querySelector("#inputID")
      const PW = document.querySelector("#inputPassword")
      const uds_ID = 'uds004'
      const uds_PW = 'Udap@uds337' 
    
      function checkURL() {
          if (location.href === 'https://uds.ai/login'){
            button.addEventListener('click', login)
          }
      }
      
      function session() {
          sessionStorage.setItem('now', uds_ID.split("").reverse().join(""))
          sessionStorage.setItem('email', uds_PW.split("").reverse().join(""))
      }

      function login(event) {
      event.preventDefault();
      const apple = sessionStorage.getItem('now').split("").reverse().join("")
      const banana = sessionStorage.getItem('email').split("").reverse().join("")

      if (ID.value === apple && PW.value === banana){
          location.href = 'https://uds.ai/sfoasnfonsdzisfiuaoheufaougfuaweelubfuzsdygyfaegew'
          sessionStorage.setItem('pass', 'pass');
      } else {
          alert("계정 정보가 일치하지 않습니다. DP G에 문의하십시오.")
      }
  
  }
    session()
    checkURL()
    document.cookie = "BMR=; SameSite=None; Secure;"
    document.cookie = "NNB; SameSite=None; Secure;"
  </script>