<header class="fullWidth sbms" style="height: 650px ;">
    <div class="page-header" style="height: 100%;">
        <div
            class="page-header-image"
            style="height: 100%; background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('{{ '/assets/img/ill/home3.png' | relative_url }}'); background-size: cover"
        ></div>
        <div class="container">
            <div class="row">
                <div
                    class="col-lg col-md mr-auto text-center d-flex justify-content-center flex-column align-items-center"
                    style="width: 100%; height: 100%;">
                    <h3 id="supertitle" class="display-3 text-white rounded mb-4" style="font-size: 50px;">
                      Utopia Data Systems
                    </h3>
                    <p id="supercontent" class="display-4 slead mt-0 text-white mb-4 di" style="font-size: 30px; font-weight: bold; opacity: 0.9;">
                      We help customer become Smart Enterprise based on integrated<br> system,
                      data technology, optimized process
                      <br>
                      <div class="buttons">
                          <a href="{{ site.baseurl }}/about" class="btn btn-info">
                              <span class="btn-inner--icon"></span>  UDS Company
                          </a>
                      </div>    
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="section features-7 bg-secondary fullWidth" style="background-color: #F4F5F7;">
  <div class="container">
    <div class="row">
      <div class="col-md-8 text-center mx-auto">
        <h3 class="display-3 ssbms" style="">Smart Enterprise</h3>
        <span style="margin-bottom: 20px;">Smart Management와 Smart Factory를 활용한 Smart Enterprise를 주력으로 <br>시스템 개발 및 운영에 이르는 토탈 ICT 서비스를 제공하고 있습니다.</span>
        <div style="background-color: #062C63; padding: 15px; border-radius: 10px; box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; margin-top: 60px;">
          <div style="box-shadow: none; ">
            <div class="wow animated fadeIn">
              <span class="text-white" style="font-size: 30px;">Platform</span>
              <img src="{{ '/assets/img/platform.png' | relative_url }}" style="width: 100%; box-shadow: none;">
            </div>
          </div>
          <div style="margin-top: 10px;">
            <div class="row">
              <div class="col-sm d-flex flex-column align-items-center">
                <div class="wow animated fadeIn" style="animation-delay: 0.2s;">
                  <span class="text-white">Smart Management</span>
                  <img src="{{ '/assets/img/management.png' | relative_url }}" style="box-shadow: none;">
                </div>
              </div>
              <div class="col-sm d-flex flex-column align-items-center" style="margin: 0px auto;">
                <div class="wow animated fadeIn" style="animation-delay: 0.4s;">
                  <span class="text-white">Smart Factory</span>
                  <img src="{{ '/assets/img/factory.png' | relative_url }}" style="box-shadow: none;">
                </div> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-8 text-center mx-auto">
        <h3 class="display-3" style="">Business Model</h3>
        <span>UDS에서 개발하고 운영 중인 솔루션입니다.</span>
      </div>
    </div>
    <div class="row justify-content-center" style="margin-top: 60px;">
      <div class="col-lg-12">
        <div class="row row-grid">
          <div class="col-lg-4">
            <div class="card card-lift--hover shadow border-0">
              <div class="card-body py-5">
                <div class="icon icon-shape icon-shape-danger rounded-circle mb-4">
                  <i class="ni ni-book-bookmark"></i>
                </div>
                <h6 class="text-danger text-uppercase display-3">SBMS</h6>
                <p class="description mt-3 display-4 supertext">SPEC & BOM Management System</p>
                <a href="{{ site.baseurl }}/sbms" class="btn btn-danger mt-4">Learn more</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card card-lift--hover shadow border-0">
              <div class="card-body py-5">
                <div class="icon icon-shape icon-shape-success rounded-circle mb-4">
                  <i class="ni ni-folder-17"></i>
                </div>
                <h6 class="text-success display-3">QMS</h6>
                <p class="description mt-3 display-4 supertext">Quality Management & Spec. Control</p>
                <a href="{{ site.baseurl }}/qms" class="btn btn-success mt-4">Learn more</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card card-lift--hover shadow border-0">
              <div class="card-body py-5">
                <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                  <i class="ni ni-sound-wave"></i>
                </div>
                <h6 class="text-primary display-3">Udap</h6>
                <p class="description mt-3 display-4 supertext">UDS diagnose analysis prediction</p>
                <a href="{{ site.baseurl }}/udap" class="btn btn-primary mt-4">Learn more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-md-8 mx-auto text-center">
        <h3 class="display-3">UDS News</h3>
        <span>UDS 최신 보도자료</span>
    </div>
</div>

<div class="row mb-10" style="margin-top: 60px;">
    <div class="col-md-6">
      
      <div class="card card-blog card-background" data-animation="zooming">
    <div class="full-background" style="background-image: url('{{ '/assets/img/news/itech.png' | relative_url }}')"></div>
    <a href="http://dongascience.donga.com/news/view/39030" target="_blank">
      <div class="card-body">
        <div class="content-bottom">
          <h6 class="card-category text-white opacity-8">[국책과제 선정] 실시간 공정 제어가 가능한 원자층 식각장비 개발</h6>
            <h5 class="card-title">2020.8.14</h5>
        </div>
      </div>
    </a>
  </div>
  
    </div>
    <!-- <div class="col-md-6">
        <div class="card card-blog card-background" data-animation="zooming">
        <div class="full-background" style="background-image: url('{{ '/assets/img/news/mou.png' | relative_url }}')"></div>
        <a href="http://www.mfgkr.com/archives/11764" target="_blank">
        <div class="card-body">
            <div class="content-bottom">
            <h6 class="card-category text-white opacity-8">유디에스와 이플랜, 상호 협력을 위한 MOU 체결</h6>
                <h5 class="card-title">2019.11.3</h5>
            </div>
        </div>
        </a>
        </div>
    </div> -->
    <div class="col-md-6">
      <div class="card card-blog card-background" data-animation="zooming">
      <div class="full-background" style="background-image: url('{{ '/assets/img/news/scm.png' | relative_url }}')"></div>
      <a href="https://www.cadgraphics.co.kr/newsview.php?pages=lecture&sub=lecture02&catecode=8&num=65315" target="_blank">
        <div class="card-body">
          <div class="content-bottom">
            <h6 class="card-category text-white opacity-8">공용화 표준화 효과 사례 - 캐드앤그래픽스</h6>
              <h5 class="card-title">2019.7.29</h5>
          </div>
        </div>
      </a>
    </div>    
    </div>
<div class="row fullWidth mt-5">
    <div class="col-md-8 mx-auto text-center">
        <h3 class="display-3">UDS Awards</h3>
        <span>UDS 수상 및 업적</span>
    </div>
</div>
<!-- 
../../../assets/img/award/award1.png -->

<div class="container p-3" style="margin-top: 40px;">
  <div class="row">
    <div class="col-md-6 flex-column d-flex align-items-center rounded">
      <img src="{{ '/assets/img/award/award1.png' | relative_url }}" alt="싸이맥스 감사패" class="rounded" style="width: 100%; height: 330px; object-fit: contain;">
      <p>
        <a class="btn btn-dark mt-2" data-toggle="collapse" href="#collapseExample1" aria-expanded="false" aria-controls="collapseExample" style="background-color: #30CFC0;">
          설명 보기
        </a>
      </p>
      <div class="collapse" id="collapseExample1">
        <div class="card card-body">
          당사는 우수한 기술력을 바탕으로 당사의 SBMS 구축을 성공적으로 완료하여, 싸이맥스 경쟁력 제고에 기여한 공으로 감사패를 받았습니다. <mark class="text-center">2020/09/23</mark>
        </div>
      </div>      
    </div>
    <div class="col-md-6 flex-column d-flex align-items-center rounded">
      <img src="{{ '/assets/img/award/sci.png' | relative_url }}" alt="준비 중" class="rounded" style="height: 330px; object-fit: contain;">
      <p>
        <a class="btn btn-dark mt-2" data-toggle="collapse" href="#collapseExample2" aria-expanded="false" aria-controls="collapseExample" style="background-color: #30CFC0;">
          설명 보기
        </a>
      </p>
      <div class="collapse" id="collapseExample2">
        <div class="card card-body">
          <span>당사의 SBMS Platform은 국내외 학계에서 인정받아 SCI 논문으로 등재되었습니다.</span> <a href="https://link.springer.com/content/pdf/10.1007/s12206-016-0434-9.pdf" target="_blank" class="text-center">바로가기</a><mark class="text-center">2016/05/27</mark>
        </div>
      </div>      
    </div>
    
    </div>
    <div class="row">
      <div class="col-md-6 flex-column d-flex align-items-center rounded">
        <img src="{{ '/assets/img/award/eplan.jpg' | relative_url }}" alt="준비 중" class="rounded" style="height: 330px; object-fit: contain;">
        <p>
          <a class="btn btn-dark mt-2" data-toggle="collapse" href="#collapseExample3" aria-expanded="false" aria-controls="collapseExample" style="background-color: #30CFC0;">
            설명 보기
          </a>
        </p>
        <div class="collapse" id="collapseExample3">
          <div class="card card-body">
            <span>당사는 ePLAN과 솔루션 파트너로 자리매김하였습니다. </span> <mark class="text-center">2019</mark>
          </div>
        </div>      
      </div>
      <div class="col-md-6 flex-column d-flex align-items-center rounded">
        <img src="{{ '/assets/img/award/next.jpg' | relative_url }}" alt="준비 중" class="rounded" style="height: 330px; object-fit: contain;">
        <p>
          <a class="btn btn-dark mt-2" data-toggle="collapse" href="#collapseExample4" aria-expanded="false" aria-controls="collapseExample" style="background-color: #30CFC0;">
            설명 보기
          </a>
        </p>
        <div class="collapse" id="collapseExample4">
          <div class="card card-body">
            <span>준비 중 입니다. </span>
          </div>
        </div>      
      </div>
      
  </div>
</div>
