<div class="row">
  <div class="col-md-12 mx-auto text-center">
    <h3 class="display-3" style="margin-top: 20px">
      UDS에는 항상 성실한 발걸음이 있습니다
    </h3>
    <span>고객의 성공을 이뤄내는 UDS가 되겠습니다.</span>
  </div>
</div>

<div class="container d-flex justify-content-center" style="margin-top: 60px">
  <div class="history">
    <div>
      <h2>2021</h2>
      <ol>
        <li>기업부설연구소 설립</li>
      </ol>
    </div>
    <div>
      <h2>2020</h2>
      <ol>
        <li>LotVacuum 프로젝트(~2021)</li>
        <li>ISO 22301</li>
        <li>CYMECHS 프로젝트 完</li>
      </ol>
    </div>
    <div>
      <h2>2019</h2>
      <ol>
        <li>ePLAN 파트너쉽</li>
        <li>CYMECHS 프로젝트 (~2020)</li>
        <li>ISO 9001, 14001, 45001</li>
      </ol>
    </div>
    <div>
      <h2>2018</h2>
      <ol>
        <li>PTC 파트너쉽</li>
        <li>YEST 프로젝트 完</li>
        <li>UDS 설립</li>
      </ol>
    </div>
  </div>
</div>
<!-- <div class="row" style="margin-top: 120px">
  <div class="col-md-12 mx-auto text-center">
    <h3 class="display-3" style="margin-top: 20px">UDS 조직도</h3>
    <span></span>
  </div>
</div>
<div style="box-shadow: none; margin-top: 40px">
  <img
    class="wow animated fadeIn"
    src="{{ '/assets/img/about/org.png' | relative_url }}"
    alt=""
  />
</div> -->
<div class="row" style="margin-top: 100px">
  <div class="col-md-12 mx-auto text-center">
    <h3 class="display-3" style="margin-top: 20px">UDS Vision / Value</h3>
    <span>UDS가 이루고자 하는 방향과 지키고 있는 가치입니다.</span>
  </div>
</div>

<div
  class="card card-body"
  style="box-shadow: none; padding: 10px; margin-top: 40px"
>
  <img
    src="{{ '/assets/img/about/value.png' | relative_url }}"
    alt=""
    class="wow animated fadeIn"
    style="object-fit: contain; animation-duration: 2s"
  />
</div>
