<div class="wrapper page fullWidth">
    <div class="page-header page-header-small header-filter mb-4" style="background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('{{ '/assets//img/ill/bg_contactus3.jpg' | relative_url }}'); background-size: cover;">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center mb-5">
            <h1 class="display-1 text-white sbms" style="position: relative; top: 15px;">Got a question?</h1>
            <h3 class="lead text-white sbms" style="position: relative; top: 60px;">Get in touch with the right people at UDS. Email a member of our company</h3>
          </div>
        </div>
      </div>
    </div>
  <div class="container" style="margin-bottom: 8px;">
    <div class="row">
      <div class="col-sm">
        <div class="info info-hover" style="box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;">
          <div class="icon icon-shape icon-shape-primary icon-lg shadow rounded-circle text-primary">
            <i class="ni ni-mobile-button"></i>
          </div>
          <h4 class="info-title sbms">Tel.</h4>
          <p class="description px-0 ssbms">031-759-9736</p>
        </div>
      </div>
      <div class="col-sm">
        <div class="info info-hover" style="box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;">
          <div class="icon icon-shape icon-shape-primary icon-lg shadow rounded-circle text-primary">
            <i class="ni ni-circle-08"></i>
          </div>
          <h4 class="info-title sbms">Fax</h4>
          <p class="description px-0 ssbms">031-759-9735</p>
        </div>
      </div>
      <div class="col-sm">
        <div class="info info-hover" style="box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;">
          <div class="icon icon-shape icon-shape-primary icon-lg shadow rounded-circle text-primary">
            <i class="ni ni-email-83"></i>
          </div>
          <h4 class="info-title sbms">Email</h4>
          <p class="description px-0 ssbms">dbim@udsystems.co.kr</p>
        </div>
      </div>
      <div class="col-sm">
        <div class="info info-hover" style="box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;">
          <div class="icon icon-shape icon-shape-primary icon-lg shadow rounded-circle text-primary">
            <i class="ni ni-email-83"></i>
          </div>
          <h4 class="info-title sbms">Location</h4>
          <p class="description px-0 ssbms">경기기업성장센터 317호</p>
        </div>
      </div>
    </div>
  </div>
</div>