<div class="section features-1 fullwidith" style="margin-bottom: 20px; padding-bottom: 0px;">
  <div class="container" style="width: 100%;">
    <div class="row">
      <div class="col-md-12 mx-auto text-center">
        <h3 class="display-3" style="">AI 기술을 적용한 Smart Factory 통합 플랫폼 제공</h3>
        <span>데이터 통합과 공정분석 및 상태 진단을 위한 플랫폼으로<br>
          프로세스 별 Pain-Points를 해결하는 차별화된 경쟁력과 기술력을 보유하고 있습니다.
          </span>
      </div>
    </div>
<!-- 
    <div class="row d-flex justify-content-center" style="width: 100%; margin-top: 60px;">
      <img src="{{ '/assets/img/udap/process1.png' | relative_url }}" alt="" style="width: 100%; box-shadow: none;">
    </div> -->

    <div class="row" style="margin-top: 60px;">
      <div class="col-md-6 wow animated zoomInLeft" style="height: 100%; background-image: url('{{ '/assets/img/udap/left.png' | relative_url }}'); background-size: cover; animation-delay: 0.5s;" >
        <div class="info info-horizontal" style="background-color: none;">
          <div class="icon icon-shape icon-shape-info rounded-circle text-white">
            <i class="ni ni-delivery-fast"></i>
          </div>
          <div class="description pl-4">
            <h5 class="title text-info" style="font-weight: bold;">생산 & 출하 <r style="color: white;">Pain Point</r></h5>
            <ul style="color: white; opacity: 0.8;">
              <li><i class="ni ni-bold-right"></i> 부품 품질과 제품 품질의 차이</li>
              <li><i class="ni ni-bold-right"></i> 부품 내, 적정 Spec</li>
              <li><i class="ni ni-bold-right"></i> 예기치 않은 제조 설비 다운</li>
              <li><i class="ni ni-bold-right"></i> 제조 설비 간 동일 성능</li>
              <li><i class="ni ni-bold-right"></i> 출하 제품 간 동일 성능</li>
            </ul>
          </div>
        </div>
      </div>
      
      <div class="col-md-6 wow animated zoomInLeft" style="height: 100%; background-image: url('{{ '/assets/img/udap/right.png' | relative_url }}'); background-size: cover; animation-delay: 1s">
        <div class="info info-horizontal" style="animation-delay: 0.2s;">
          <div class="icon icon-shape icon-shape-info rounded-circle">
            <i class="ni ni-tablet-button"></i>
          </div>
          <div class="description pl-4">
            <h5 class="title text-info" style="font-weight: bold;">설치 & 운영 및 서비스 <r style="color: white;">Pain Point</r></h5>
            <ul style="color: white; opacity: 0.8;">
              <li><i class="ni ni-bold-right"></i> 출하 품질과 운영 품질의 차이</li>
              <li><i class="ni ni-bold-right"></i> 운영 제품 간의 품질 차이</li>
              <li><i class="ni ni-bold-right"></i> Set-up 이슈 원인 파악으로 시간 증가</li>
              <li><i class="ni ni-bold-right"></i> 부품 라이프 타임관리</li>
              <li><i class="ni ni-bold-right"></i> 예지 정비 필요성</li>
            </ul>  
          </div>
        </div>
      </div>  
    </div>

  </div>
</div>