<div class="section features-4" style="margin-top: 0px; padding-top: 0px">
  <div class="container">
    <!-- <div class="row d-flex justify-content-center" style="width: 100%">
      <img src="{{ '/assets/img/udap/process2.png' | relative_url }}" alt="" style="box-shadow: none; width: 100%;">
    </div> -->
  </div>
  <div class="row align-items-center" style="margin-top: 40px">
    <div class="col-lg-12 p-sm-0">
      <div class="row">
        <div
          class="col-md-3 wow fadeInDown animated"
          style="background-color: #80b1d4; border-radius: 10px"
        >
          <div>
            <div
              class="d-flex align-items-center"
              style="margin-bottom: 15px; color: white"
            >
              <img
                src="{{ '/assets/img/udap/col.png' | relative_url }}"
                alt=""
                style="
                  background-color: 172b4d;
                  border-radius: 5px;
                  padding: 5px;
                  margin-right: 10px;
                  box-shadow: none;
                "
              />
              <div>수집</div>
            </div>
            <ul style="color: white; opacity: 0.7">
              <li><i class="ni ni-check-bold"></i> 기 투자 인프라 활용</li>
              <li><i class="ni ni-check-bold"></i> Plug & Play</li>
              <li><i class="ni ni-check-bold"></i> 표준 Protocol 적용</li>
              <li><i class="ni ni-check-bold"></i> 데이터의 융합</li>
            </ul>
          </div>
        </div>
        <div
          class="col-md-3 wow fadeInDown animated"
          style="
            background-color: #0c7ac8;
            border-radius: 10px;
            animation-delay: 0.2s;
          "
        >
          <div>
            <div
              class="d-flex align-items-center"
              style="margin-bottom: 15px; color: white"
            >
              <img
                src="{{ '/assets/img/udap/save.png' | relative_url }}"
                alt=""
                style="
                  background-color: 172b4d;
                  border-radius: 5px;
                  padding: 5px;
                  margin-right: 10px;
                  box-shadow: none;
                "
              />
              <div>저장</div>
            </div>
            <ul style="color: white; opacity: 0.7">
              <li>
                <i class="ni ni-check-bold"></i> 시계열 Data 저장 및 실시간 SQL
                처리
              </li>
              <li>
                <i class="ni ni-check-bold"></i> 머신데이터 및 스마트 공장
                데이터 환경 구현
              </li>
            </ul>
          </div>
        </div>
        <div
          class="col-md-3 wow fadeInDown animated"
          style="
            background-color: #045fb4;
            border-radius: 10px;
            animation-delay: 0.4s;
          "
        >
          <div>
            <div
              class="d-flex align-items-center"
              style="margin-bottom: 15px; color: white"
            >
              <img
                src="{{ '/assets/img/udap/anl.png' | relative_url }}"
                alt=""
                style="
                  background-color: 172b4d;
                  border-radius: 5px;
                  padding: 5px;
                  margin-right: 10px;
                  box-shadow: none;
                "
              />
              <div>분석</div>
            </div>
            <ul style="color: white; opacity: 0.7">
              <li><i class="ni ni-check-bold"></i> 쉽고 편리한 분석 환경</li>
              <li><i class="ni ni-check-bold"></i> 전처리 표준화</li>
              <li><i class="ni ni-check-bold"></i> 통계 분석 툴 활용</li>
              <li><i class="ni ni-check-bold"></i> 최신 ML 알고리즘 운영</li>
            </ul>
          </div>
        </div>
        <div
          class="col-md-3 wow fadeInDown animated"
          style="
            background-color: #08298a;
            border-radius: 10px;
            animation-delay: 0.6s;
          "
        >
          <div>
            <div
              class="d-flex align-items-center"
              style="margin-bottom: 15px; color: white"
            >
              <img
                src="{{ '/assets/img/udap/ai.png' | relative_url }}"
                alt=""
                style="
                  background-color: 172b4d;
                  border-radius: 5px;
                  padding: 5px;
                  margin-right: 10px;
                  box-shadow: none;
                "
              />
              <div>AI</div>
            </div>
            <ul style="color: white; opacity: 0.7">
              <li>
                <i class="ni ni-check-bold"></i> 공정 변수 기반 공정 결과 추정
              </li>
              <li><i class="ni ni-check-bold"></i> 실시간 설비 상태 진단</li>
              <li><i class="ni ni-check-bold"></i> 이상 감지 및 예지 정비</li>
              <li><i class="ni ni-check-bold"></i> 데이터의 융합</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mx-auto text-center" style="margin-top: 150px">
          <h3
            class="display-3 wow animated zoomIn"
            style="font-size: 60px; font-weight: bold; animation-delay: 2s"
          >
            Beyond automation, <br />To intelligence!
          </h3>
        </div>
      </div>
    </div>

    <div class="col-lg-4 mr-auto text-left mt-4" style="margin-top: 60px">
      <div class="">
        <img
          src="{{ '/assets/img/udap/side.png' | relative_url }}"
          class=""
          style="box-shadow: none; background-color: none; border: none"
        />
      </div>
    </div>
    <div class="col-lg-8 mr-auto text-left mt-4" style="margin-top: 60px">
      <div class="d-flex flex-column align-items-center">
        <div class="text-center">
          <img
            src="{{ '/assets/img/udap/uu.png' | relative_url }}"
            alt=""
            style="margin: 0px auto; box-shadow: none"
          />
          <div
            class="typing"
            style="
              font-size: 22px;
              font-style: italic;
              margin-top: 15px;
              margin-bottom: 15px;
            "
          >
            <p class="font-first-color">UDS</p>
            <p class="font-first-color">diagnosis</p>
            <p class="font-first-color">analysis</p>
            <p class="font-first-color">prediction</p>
          </div>
          <br />
          <span class="wow animated fadeInDown" style="color: black"
            >데이터의 실시간 수집과 저장, 기사화를 통해 설비 모니터링과<br />데이터
            분석 및 모델을 운영하기 위한 기반 플랫폼</span
          >
        </div>
        <ul
          class="wow fadeInDown animated"
          style="margin-top: 15px; animation-delay: 0.5s"
        >
          <li>
            <i class="ni ni-check-bold"></i> 다양한 데이터 소스 통합으로 실시간
            데이터 수집
          </li>
          <li><i class="ni ni-check-bold"></i> 통계적 데이터 분석 기능 통합</li>
          <li>
            <i class="ni ni-check-bold"></i> 대시보드 형태의 웹 기반 통합 IoT
            플랫폼
          </li>
          <li>
            <i class="ni ni-check-bold"></i> 머신러닝/딥러닝 기반 이상 감지
            데이터 모델 운영
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
