<div class="pricing-4 fullWidth" id="pricing-5" style="margin-top: 145px">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mx-auto text-center">
        <h3 class="display-3" style="">도입효과</h3>
        <span
          >분석된 결과를 통해 고장, 결함 낭비를 줄이고 제품 간 동일 성능을 이룰
          수 있습니다.</span
        >
      </div>
    </div>
    <div class="row" style="margin-top: 60px">
      <div class="col-md-6">
        <div class="card card-pricing card-coin wow animated bounceIn">
          <div class="card-header">
            <div style="font-size: 20px">
              Near-<r style="color: skyblue">Zero</r> Down
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12 text-center">
                <li class="list-group-item" style="border: none">
                  Downtime Reduction
                </li>
                <hr class="bg-info" />
              </div>
            </div>
            <div class="row">
              <ul class="list-group">
                <li class="list-group-item" style="text-decoration: underline">
                  설비 중단 시간 감소
                </li>
                <li class="list-group-item">예상치 못한 고장들의</li>
                <li class="list-group-item">사전 예측을 통해</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div
          class="card card-pricing card-coin wow animated bounceIn"
          style="animation-delay: 0.2s"
        >
          <div class="card-header">
            <div style="font-size: 20px">
              Near-<r style="color: skyblue">Zero</r> Defect
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12 text-center">
                <li class="list-group-item" style="border: none">
                  Quality Improvement
                </li>
                <hr class="bg-info" />
              </div>
            </div>
            <div class="row">
              <ul class="list-group">
                <li class="list-group-item" style="text-decoration: underline">
                  품질 개선
                </li>
                <li class="list-group-item">센서 / 부품의 성능을</li>
                <li class="list-group-item">통계적 관리를 통해</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div
          class="card card-pricing card-coin wow animated bounceIn"
          style="animation-delay: 0.4s"
        >
          <div class="card-header">
            <div style="font-size: 20px">
              Near-<r style="color: skyblue">Zero</r> Waste
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12 text-center">
                <li class="list-group-item" style="border: none">
                  Time / Cost Saving
                </li>
                <hr class="bg-info" />
              </div>
            </div>
            <div class="row">
              <ul class="list-group">
                <li class="list-group-item" style="text-decoration: underline">
                  시간 / 비용 손실 최소화
                </li>
                <li class="list-group-item">작은 규모부터 큰 규모의 낭비</li>
                <li class="list-group-item">예측 및 관리를 통해</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div
          class="card card-pricing card-coin wow animated bounceIn"
          style="animation-delay: 0.6s"
        >
          <div class="card-header">
            <div style="font-size: 20px; color: skyblue">TTTM</div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12 text-center">
                <li class="list-group-item" style="border: none">
                  Tool to Tool Matching
                </li>
                <hr class="bg-info" />
              </div>
            </div>
            <div class="row">
              <ul class="list-group">
                <li class="list-group-item" style="text-decoration: underline">
                  설비 간 동일 성능 보장
                </li>
                <li class="list-group-item">센서 / 모듈 / 설비 별 상태를</li>
                <li class="list-group-item">Health Index 수치를 통해</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
