<div class="section features-6 fullWidth">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto text-center">
              <h3 class="display-3">Supplier Quality Platform</h3>
              <span>SQP는 SQC, 5M/EE, SRE로 구성된<br> 하나의 품질 관리 플랫폼입니다.</span>
            </div>
        </div>  
      <div class="row align-items-center" style="margin-top: 60px;">
        <div class="col-lg-6">
          <div class="info info-horizontal info-hover-primary">
            <div class="icon icon-shape icon-shape-info rounded-circle text-white">
              <i class="ni ni-html5 text-info"></i>
            </div>
            <div class="description pl-4">
              <h5 class="title">SQC (Supplier Quality Certification)</h5>
              <p>신규 공급자 적합성 평가 프로세스<br><r style="text-decoration: underline;">생산/구매/품질/환경안전/보안/System</r>의 6가지<br> 세부평가항목으로 구성</p>
              <a href="#" class="text-info" data-toggle="modal" data-target=".bd-example-modal-xl-a">Learn more</a>
            </div>
            <div class="modal fade bd-example-modal-xl-a" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                  <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalScrollableTitle">SQC</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <img src="{{ '/assets/img/qms/sqc.png' | relative_url }}" alt="" style="width: 100%;">
                    <br/><br/>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="info info-horizontal info-hover-primary">
            <div class="icon icon-shape icon-shape-info rounded-circle text-white">
              <i class="ni ni-app text-info"></i>
            </div>
            <div class="description pl-4">
              <h5 class="title">5M / E.E</h5>
              <p>제조공정(4M) + CEO Mind(1M)에 대한 변화관리 및 5M 지속적 모니터링 & 변화관리 Process 개선</p>
              <a href="#" class="text-info" data-toggle="modal" data-target=".bd-example-modal-xl-a1">Learn more</a>
            </div>
            <div class="modal fade bd-example-modal-xl-a1" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                  <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalScrollableTitle">5M / E.E</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <img src="{{ '/assets/img/qms/5m.png' | relative_url }}" alt="" style="width: 100%;">
                    <br/><br/>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="info info-horizontal info-hover-primary">
            <div class="icon icon-shape icon-shape-info rounded-circle text-white">
              <i class="ni ni-bell-55 text-info"></i>
            </div>
            <div class="description pl-4">
              <h5 class="title">SRE (Supplier Regular Evaluation)</h5>
              <p>Business-Partner社의 지속적 개선을 위한 사후점검<br>개선방안을 수립하기 위한 정기평가 프로세스 <br> <r style="text-decoration: underline;">생산/구매/품질/환경안전/보안/System/<br>Special-Process/Compliance&Ethics</r>의 8가지<br>  세부평가항목으로 구성</p>
              <a href="#" class="text-info" data-toggle="modal" data-target=".bd-example-modal-xl-a2">Learn more</a>
            </div>
             <div class="modal fade bd-example-modal-xl-a2" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                  <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalScrollableTitle">SRE</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <img src="{{ '/assets/img/qms/sre.png' | relative_url }}" alt="" style="width: 100%;">
                    <br/><br/>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                  </div>
                </div>
              </div>
          </div>
        
        </div>
        <div class="col-lg-6 mx-md-auto wow animated rotateIn">
          <img class="ml-lg-6" src="{{ '/assets/img/qms/sqp.png' | relative_url }}" width="100%" style="box-shadow: none;">
        </div>
      </div>

      <div class="row" style="margin-top: 100px;">
        <div class="col-md-8 mx-auto text-center">
          <h3 class="display-3">Business Partner Policy</h3>
          <span>Business Partner에게 요구되는 비즈니스 표준 사항</span>
        </div>
      </div> 
     
      <div class="row " style="margin-top: 60px; width: 100%;">
        <div class="col-lg-6 mx-md-auto">
          <img class="ml-lg-6" src="{{ '/assets/img/qms/qcre.png' | relative_url }}"  style=" object-fit: cover; box-shadow: none;" >
        </div>
        <div class="col-lg-6 mx-md-auto">
          <img class="ml-lg-6" src="{{ '/assets/img/qms/ee.png' | relative_url }}"  style=" object-fit: cover; box-shadow: none;">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <ul>
            <li>MFG: Manufacturing</li>
            <li>QM: Quality Management</li>
            <li>SC: Security</li>
            <li>PC: Purchase</li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul>
            <li>ES: Environment & Safety</li>
            <li>SY: System</li>
            <li style="color: red;">SP: Special Process</li>
            <li>CE: Comliance & Ethics</li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul>
            <li>Intel Quality Management System</li>
            <li>CE (Copy Exactly)</li>
            <li>5M (Man, Machine, Method, Material, Management)<r style="color: red;"> CEO Mind</r></li>
          </ul>
        </div>
      </div>
        <div class="row" style="margin-top: 110px;">
        <div class="col-md-8 mx-auto text-center">
          <h3 class="display-3">Spec. Control Operation</h3>
          <span>사양관리(OEC) 변경 관리(CCB)를 통해 생산성 향상 및 업무 효율화를 지원합니다.</span>
        </div>
      </div> 
      <div class="row " style="margin-top: 60px; width: 100%;">
        <div class="col-lg-12 mx-md-auto">
          <img src="{{ '/assets/img/qms/control.png' | relative_url }}"  style=" object-fit: cover; box-shadow: none;" >
        </div>
      </div>
    </div>
</div>