<div class="section features-2 sbms">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto text-center">
              <h3 class="display-3">Integrated Management System</h3>
              <span>ISO 9001, 14001, 45001, 22301 기준들을 만족하기 위해<br> 컨설팅 및 평가를 진행합니다.</span>
            </div>
        </div>  
      <div class="row align-items-center" style="margin-top: 60px;">
        <div class="col-lg-4 col-md-8 mr-auto text-left wow animated fadeIn" style="animation-delay: 0.5s;">
          <div class="pr-md-5">
            <img src="{{ '/assets/img/qms/iso.png' | relative_url }}" alt="" style="width: 100%; box-shadow: none;">
          </div>
        </div>
        <div class="col-lg-7 col-md-12 pl-md-0">
          <div class="row">
            <div class="col-lg-4 col-md-4 wow animated fadeInLeft">
              <div class="info text-left bg-info shadow">
                <div class="icon-shape bg-gradient-white shadow rounded-circle text-info" style="padding: 15px;">
                  <span>ISO 9001</span>
                </div>
                <h5 class="info-title text-white">Quality Manage</h5>
                <p class="description">
                    <ul style="color: whitesmoke;">
                        <li>· Process 기반 체계</li>
                        <li>· 원가 절감</li>
                        <li>· 성과 관리</li>
                    </ul>
                </p>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 wow animated fadeInDown">
              <div class="info text-left bg-danger info-raised shadow">
                <div class="icon-shape bg-gradient-white shadow rounded-circle text-danger">
                  <span>ISO 14001</span>
                </div>
                <h5 class="info-title text-white">Environmental <br>Manage</h5>
                <p class="description">
                    <ul style="color: whitesmoke;">
                        <li>· 환경 친화 경영</li>
                        <li>· 원자재 에너지 절감</li>
                        <li>· 환경사고 예방</li>
                    </ul>
                </p>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 wow animated fadeInRight">
                <div class="info text-left bg-primary shadow">
                  <div class="icon-shape bg-gradient-white shadow rounded-circle text-primary">
                      <span>ISO 22301</span>
                  </div>
                  <h5 class="info-title text-white">Business Continuity Manage</h5>
                  <p class="description">
                      <ul style="color: whitesmoke;">
                          <li>· 리스크 식별 및 관리</li>
                          <li>· 비즈니스 중단 방지</li>
                          <li>· 사고 예방 및 대응력 강화</li>
                      </ul>
                  </p>
                </div>
              </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-4">
                
              </div>
              <div class="col-lg-4 col-md-4 wow animated fadeInUp">
                <div class="info text-left bg-default shadow">
                  <div class="icon-shape bg-gradient-white shadow rounded-circle text-primary">
                    <span>ISO 45001</span>
                  </div>
                  <h5 class="info-title text-white">Occupational<br> Health and Safety<br> Manage</h5>
                  <p class="description">
                      <ul style="color: whitesmoke;">
                          <li>· 산업재해 예방</li>
                          <li>· 안전법규 준수</li>
                          <li>· 생산성 향상</li>
                      </ul>
                  </p>
                </div>
              </div>
            <div class="col-lg-4 col-md-4">
              
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>